@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  font-family: 'Roboto Condensed', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color pallette */
  --header: #14181c;
  --background: #1f252b;
  --orange: #f18701;
  --green: #8ac926;
  --blue: #4cc9f0;
  --font: #abc;
  --red: #da251e;

  color: var(--font);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  background-position: center 0px;
  /* overflow: hidden; */
}
