.container {
    display: flex;
    width: 100%;
    margin: 20px;
}

.tmdb {
    display: block;
    width: 50%;
    height: 50%;
}

.tmdbCredit {
    font-size: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}