header {
  background-color: rgba(20, 24, 28, 0.6);
  margin: 0;
  padding: 0;
  padding-bottom: 1px;
}

h1 {
  position: relative;
  padding: 10px 10px 0px 10px;
}

.full-name {
  color: #fff;
  position: relative;
  top: 7px;
  left: 0.2em;
}

.single-word {
  color: var(--red);
}

.logo {
  width: 60px;
  height: 60px;
  opacity: 1;
}

@media screen and (max-width: 661px) {
  h1 {
    position: relative;
    text-align: center;
    justify-content: center;
    padding: 10px 10px 30px 10px;
    background-color: rgba(20, 24, 28, 0.8);
  }

  .logo {
    display: none;
  }

  .full-name {
    color: #fff;
    position: relative;
    top: 16px;
  }
} ;
